.git
.direnv
.vscode
tmp
node_modules
web/node_modules
web/.svelte-kit
web/build
conference-tool.exe
conference-tool
conference.db
coverage.out
coverage.html
internal/routes/static/app.css
internal/routes/routes_gen.go
internal/routes/paths/paths_gen.go
internal/templates/*_templ.go
internal/repository/sqlite/client/*_generated.go
