package templates

type Comment struct {
	ID      string
	PostID  string
	Author  string
	Content string
}

templ CommentAddedTemplate(input Comment) {
	<div class="comment" hx-swap-oob="beforeend:#comments">
		<p><strong>{ input.Author }</strong></p>
		<p>{ input.Content }</p>
	</div>
}
